<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/navbar/reset.min.css" />
    <link rel="stylesheet" href="/css/navbar/style.css" />
    <link rel="stylesheet" href="/css/navbar/header-3.css" />
  </head>
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <a href="/" class="brand"><img id="logo_img" src="/images/logo.png" alt=""></a><br>
          <span class="name">ChaiTrade</span>
        </div>
        <div class="site-header__end">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              <img src="https://img.icons8.com/ios-glyphs/30/null/menu--v1.png" alt="menu">
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="/charts">Charts</a></li>
              <li class="nav__item"><a href="/blog">Blogs</a></li>
              <li class="nav__item"><a href="/featured">Featured</a></li>
              <li class="nav__item"><a href="/news">News</a></li>
              <li class="nav__item"><a href="/profile">Profile</a></li>
            </ul>
          </nav>
          <div class="site-header__end">
            <button class="search__toggle" aria-label="Open search">
              <a href="/signIn">
                <img src="https://img.icons8.com/3d-fluency/30/null/person-male--v2.png" alt="some"/>
              </a>
            </button>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <script src="/js/navbar.js"></script>
  </body>
</html>
