<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <link rel="stylesheet" href="/css/about.css">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    
    <script src="https://kit.fontawesome.com/b7c0e417e7.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="aims">

        <div class="welcome">
            <h1>Welcome to our trading website</h1>
        </div>

        <div class="aiminfo">
            <p>Our website aims to provide a comprehensive platform for trading financial assets and markets. We offer a
                wide range of trading instruments, including stocks, bonds, commodities, and cryptocurrencies, and our
                users can access them through a user-friendly interface and advanced trading tools.</p>
            <p>We are committed to ensuring the security and reliability of our platform, and we have a team of experts
                dedicated to improving our systems and implementing the latest technologies to protect our users' data
                and assets.</p>
            <p>Moreover, we value our users' satisfaction and strive to create a supportive trading community through
                social features and networking opportunities. Our contributors are committed to achieving our goals and
                improving our platform to meet our users' evolving needs.</p>
        </div>
    </div>

    <div class="features">

        <div class="featureshead">
            <h2>Our Key Features</h2>
        </div>

        <div class="featuresinfo">
            <ul>
                <li>Advanced trading tools for experienced traders</li>
                <hr>
                <li>Easy-to-use interface for beginners</li>
                <hr>
                <li>Diverse range of trading instruments</li>
                <hr>
                <li>Real-time market data and news</li>
                <hr>
                <li>Secure and reliable trading platform</li>
                <hr>
                <li>Social features for networking and community building</li>
                <hr>
                <li class="lastli">Responsive customer support</li>
            </ul>
        </div>
    </div>

    <div class="contributors">
        <div class="contributorshead">
            <hr class="contributorshr">
            <h2>Our Contributors</h2>
        </div>
        <section id="contributorsinfo">

            <div class="row">

                <div class="col-lg-4 div1 div11">
                    <img src="https://picsum.photos/200/300" alt="oneprofilepic" id="vamsi">
                    <h3 class="
                        names-h3">Darshan</h3>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p class="features-para">Android and Web Developer</p>
                </div>

                <div class="col-lg-4 div1 div12">
                    <img src="https://picsum.photos/300/400" alt="twoprofilepic" id="vamsi">
                    <h3 class="names-h3">Subhangi</h3>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p class="features-para">Web Developer</p>
                </div>

                <div class="col-lg-4 div1 div13">
                    <img src="https://picsum.photos/400/500" alt="threeprofilrpic" id="vamsi">
                    <h3 class="names-h3">vamsidhar</h3>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p class="features-para">Web Developer</p>
                </div>


                <div class="col-lg-6 div1 div14">
                    <img src="https://picsum.photos/500/600" alt="fourprofilepic" id="vamsi4">
                    <h3 class="names-h3">Hridayesh</h3>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p class="features-para">Web Developer</p>
                </div>

                <div class="col-lg-6 div1 div15">
                    <img src="https://picsum.photos/600/700" alt="fiveprofilepic" id="vamsi4">
                    <h3 class="names-h3">Abraham</h3>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <p class="features-para">Web Developer</p>
                </div>
            </div>
        </section>
    </div>


    <section id="title">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 aboutushead">
                    <h1>About Us</h1>
                </div>

                <div class="col-lg-6 aboutusinfo">
                    <p class="para1 para">Our trading platform is committed to providing users with the tools and
                        resources they need to make informed investment decisions. With access to a wide range of
                        financial assets and markets, our platform offers users the opportunity to diversify their
                        portfolio and maximize their potential returns.</p>
                    <p class="para2 para">Our team is comprised of experienced professionals in the fields of finance,
                        technology, and design. Together, we work tirelessly to ensure that our platform is secure,
                        reliable, and easy to use.</p>
                </div>
            </div>
        </div>
        </div>

    </section>

    <div class="contactus">
        <div class="row">
            <h1>Contact Us</h1>
            <hr class="contacthr">
            <div class="col-lg-6">

                <h3>Address</h3>
                <br>
                <p><i class="fa fa-map-marker w3-text-teal w3-xlarge" style="color: #72AC99;"></i>  Sri City, India</p>
                <p><i class="fa fa-phone w3-text-teal w3-xlarge" style="color: #72AC99;"></i>  +91 0123456789</p>
                <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge" style="color: #72AC99;"></i>  ChaiTrade@gmail.com
                </p>
            </div>

            <div class="col-lg-6 inputinfo">
                <form>
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Email address</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="messageInput">Message</label>
                        <textarea class="form-control" id="messageInput" rows="5"
                            placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>

    <script src="/js/about.js"></script>
</body>

<footer>
    <%- include('partials/_footer') %>
</footer>

</html>