<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/notLoggedIn.css">

    <script src="https://kit.fontawesome.com/b7c0e417e7.js" crossorigin="anonymous"></script>
    <title>News</title>
</head>

<header>
    <%- include('partials/_navbar') %>
</header>

<body>

    <% if(isLoggedIn){ %>
        <div class="bg">
            <div class="content">
                <h3>Welcome to News Section</h3>
            </div>

            <div class="main">

            </div>
        </div>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/ef8a591cb3.js" crossorigin="anonymous"></script>

        <% } else { %>
            <div class="bodyElement">
                <div class="image-container">
                    <img style="width: 500px" class="signedOutImage" src="/images/profile-interface-animate.svg">
                    <p class="image-caption">User not Logged-in</p>
                    <button class="button-27" role="button"><a href="/signIn">Click Here to Login</a></button>
                </div>
            </div>
            <% } %>


</body>

<script>
    
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/news', true);
    xhr.setRequestHeader('Content-Type', 'application/json');

    xhr.onload = function () {
        if (xhr.status >= 200 && xhr.status < 300) {
            // Parsing the JSON response
            var iresponse = JSON.parse(xhr.responseText);
            var data = iresponse;
            console.log(iresponse[0]);

            // Loop through the data and creating the HTML elements
            data.forEach(function (element, i) {
                var main = document.querySelector(".main");

                var card = document.createElement('div');
                card.classList = 'card';
                var newscard = `
                    <img src=${data[i].image}  alt="News-image">
                    <div class="info">
                        <h4>${data[i].title}</h4>
                    </div>
                    <div class="news">
                        <p>${data[i].headlines} </p>
                        <br>
                        <a class="btn btn-outline-dark " href=${data[i].url} role="button"><strong>Read More</strong></a>
                        <br>
                    </div>`;
            card.innerHTML += newscard;
            main.appendChild(card);
        });
        } else {
            console.log("Request failed with status: " + xhr.status);
        }
    };

    xhr.onerror = function () {
        console.log("Request failed");
    };
    xhr.send();

</script>

<footer>
    <%- include('partials/_footer') %>
</footer>

</html>