<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pricing.css">
    <script src="https://kit.fontawesome.com/b7c0e417e7.js" crossorigin="anonymous"></script>
    <title>Pricings</title>
</head>

<header>
    <%- include('partials/_navbar') %>
</header>


<body>
    <div class="backpic">
        <img src="/images/charts.jpg" alt="background" class="backgroundpic">
    </div>

    <div class="pricing-container">

        <div class="pricing-header">
            <h1>"You get what you pay for."</h1>
        </div>

        <div class="pricing-tiers">
            <div class="pricing-tier basic">
                <h1>Basic</h1>
                <hr>
                <ul class="pricing-features">
                    <li>Access to basic trading tools and charts</li>
                    <li>Limited access to real-time market data</li>
                    <li>Limited customer support</li>
                    <li>No commission fees</li>
                </ul>
                <a href="#" class="cta-button">$10/month</a>
            </div>

            <div class="pricing-tier pro">
                <h1>Pro</h1>
                <hr>
                <ul class="pricing-features">
                    <li>Access to advanced trading tools and charts</li>
                    <li>Real-time market data for all markets</li>
                    <li>Priority customer support</li>
                    <li>Reduced commission fees</li>
                </ul>
                <a href="#" class="cta-button">$50/month</a>
            </div>

            <div class="pricing-tier premium">
                <h1>Premium</h1>
                <hr>
                <ul class="pricing-features">
                    <li>Access to premium trading tools and charts</li>
                    <li>Real-time market data for all markets</li>
                    <li>24/7 customer support</li>
                    <li>No commission fees</li>
                    <li>Personal account manager</li>
                </ul>
                <a href="#" class="cta-button">$100/month</a>
            </div>

        </div>

    </div>
    <div class="pricing-faq">

        <div class="faq-container">
            <h1 class="faq-heading">Frequently Asked Questions</h1>
            <div id="faq-list"></div>
        </div>

    </div>
    <script src="/js/pricing.js"></script>
</body>

<footer>
    <%- include('partials/_footer') %>
</footer>

</html>