<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pricing.css">
    <script src="https://kit.fontawesome.com/b7c0e417e7.js" crossorigin="anonymous"></script>
    <title>Pricings</title>
</head>

<header>
    <%- include('partials/_navbar') %>
</header>


<body>
    <div class="backpic">
        <img src="/images/charts.jpg" alt="background" class="backgroundpic">
    </div>

    <div class="pricing-container">

        <div class="pricing-header">
            <h1>"You get what you pay for."</h1>
        </div>

        <div class="pricing-tiers">

            <div class="pricing-tier basic">
                <h1>Basic</h1>
                <hr>
                <ul class="pricing-features">
                    <li>Access to basic trading tools and charts</li>
                    <li>Limited access to real-time market data</li>
                    <li>Limited customer support</li>
                    <li>No commission fees</li>
                </ul>
                <a href="#" class="cta-button">$10/month</a>
            </div>

            <div class="pricing-tier pro">
                <h1>Pro</h1>
                <hr>
                <ul class="pricing-features">
                    <li>Access to advanced trading tools and charts</li>
                    <li>Real-time market data for all markets</li>
                    <li>Priority customer support</li>
                    <li>Reduced commission fees</li>
                </ul>
                <a href="#" class="cta-button">$50/month</a>
            </div>

            <div class="pricing-tier premium">
                <h1>Premium</h1>
                <hr>
                <ul class="pricing-features">
                    <li>Access to premium trading tools and charts</li>
                    <li>Real-time market data for all markets</li>
                    <li>24/7 customer support</li>
                    <li>No commission fees</li>
                    <li>Personal account manager</li>
                </ul>
                <a href="#" class="cta-button">$100/month</a>
            </div>

        </div>


        <div class="pricing-faq">

            <h1 class="FAQ">Frequently Asked Questions</h1>

            <div class="faq-list">

                <div class="firstquestion questions">
                    <h4>What payment methods do you accept?</h4>
                    <p>We accept all major credit cards, PayPal, and bank transfers.</p>
                </div>

                <div class="secondquestion questions">
                    <h4>Can I upgrade or downgrade my plan later?</h4>
                    <p>Yes, you can upgrade or downgrade your plan at any time.</p>
                </div>

                <div class="thirdquestion questions">
                    <h4>Is there a setup fee?</h4>
                    <p>No, there is no setup fee. You only pay for the monthly or annual subscription fee.</p>
                </div>

                <div class="fourthquestion questions">
                    <h4>How does billing work?</h4>
                    <p>Billing is done on a monthly or annual basis, depending on the plan you choose. You will be
                        charged
                        automatically at the beginning of each billing cycle.</p>
                </div>

                <div class="fifthquestion questions">
                    <h4>What features are included in each plan?</h4>
                    <p>You can view a detailed list of features included in each plan on our pricing page.</p>
                </div>

                <div class="sixthquestion questions">
                    <h4>Are there any hidden fees or charges?</h4>
                    <p>No, there are no hidden fees or charges. The price you see on the pricing page is the price you
                        will pay.
                    </p>
                </div>

            </div>
        </div>
    </div>
</body>

<footer>
    <%- include('partials/_footer') %>
</footer>

</html>